body{
    margin:0;
    padding : 0;

}

.main{
    display: flex;
    flex-direction: column;

}
.main__header-container{
    width : 100vw;
    height : 8vh;

    border-bottom : 1px solid #E4E4E4;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;    

}
.main__header-menu{
    width : 100%;
    height : 100%;

    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main__header-menu-search{
    width : 70%;
}

.main__content-container {
    width : 100vw;
    height : 92vh;
    display: grid;
    
    grid-template-columns:.5fr 4fr
}

.main__content-sidebar{
    padding : 10px;
}

.main__content-booklist{
    height : 92vh;
    border-left: 1px solid #E4E4E4;
}

.main__content-booklist > ul{
    list-style-type: none;
    margin : 0; padding : 0;
    height : 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;
}

.book-item {
    height : 40vh;
    display: flex;
    flex-direction: column;
    place-items: center center;
    padding: 5px;
    margin: 10px;
}

.book-item img {
    width: 51%;
    padding: 5px;
}

.book-item .book-title {
    font-size: 99%;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}

.book-item .book-writer {
    font-size: 82.5%;
    text-align: center; 
}



