#dbook_signup {
    margin: 10px;
    width: 500px;
    padding: 10px;

    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);

    text-align: right;
}

#dbook_signup .confirm-btn {
    background-color: #cacbcd;
    color: #363636;
    width: 100px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#dbook_signup .submit-btn {
    background-color: #363636;
    color: white;
    width: 500px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 3px;
}

#dbook_signup .login-item {
    border: 1px solid #e0e0e0;
    border-top: 0;
    background: #fff;
    box-sizing: border-box; 
}

#dbook_signup #top-line {
    border-top: 1px solid #e0e0e0;
}

#dbook_signup .login-item-text {
    display: inline-block;
    width: 100px;
    text-align: left;
}

#dbook_signup .login-input {
    border: none;
    box-shadow: none;
    outline: none;
    padding: 12px; 
    padding-right: 0;
    width: 480px;
    line-height: 1.2;
}

